.vscode/settings.json
Bary-SmartAssistant.py
temp.mp3
__pycache__/pixels.cpython-37.pyc
__pycache__/alexa_led_pattern.cpython-37.pyc
__pycache__/apa102.cpython-37.pyc
__pycache__/google_home_led_pattern.cpython-37.pyc
password.txt
